@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome Pizza</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Margherita</th>
            <td>Pacchettelle del Vesuvio I.G.P, mozzarella di bufala Campana, spolverata di Parmigiano Reggiano 36 mesi</td>
            <td>
                <img width="250px" height="150px" src="https://media-cdn.tripadvisor.com/media/photo-s/1d/6f/f4/c8/vesuvio.jpg">
            </td>
            <td>8.5</td>
        </tr>
        <tr>
            <th scope="row">Morte del Pistacchio</th>
            <td>Provola di Agerola, mortadella di Bologna, Pistacchio di Bronte</td>
            <td>
                <img width="250px" height="150px" src="https://images.dissapore.com/wp-content/uploads/2020/06/PHOTO-2020-06-18-15-04-33.jpg">
            </td>
            <td>10.5</td>
        </tr>
        <tr>
            <th scope="row">Domenicale</th>
            <td> Ragù Napoletano, polpettine di scottona, fior di latte di Agerola, Ciuffetti di ricotta</td>
            <td>
                <img width="250px" height="150px" src="https://res.cloudinary.com/tf-lab/image/upload/restaurant/b7fbadd1-91cc-4057-98c1-cd9ed9a55cb5/acd6339d-6edd-40f3-83bf-63b8d3a475f3.jpg">
            </td>
            <td>10.5</td>
        </tr>
    </tbody>
</table>